@model QLSNT.Models.ThuongTru

@{
    ViewData["Title"] = "Chi tiết Thường trú";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="card shadow-sm">

    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">
            Thông tin thường trú
        </h5>
    </div>

    <div class="card-body">

        <table class="table table-bordered">

            <tr>
                <th width="25%">Người dân</th>
                <td>@Model.NguoiDan?.HoTen</td>
            </tr>
            <tr>
                <th>Ngày Sinh</th>
                <td>@Model.NguoiDan?.NgaySinh</td>
            </tr>
            <tr>
                <th>CCCD</th>
                <td>@Model.MaCCCD</td>
            </tr>

           

            <tr>
                <th>Địa chỉ</th>
                <td>
                    @Model.DiaChi,
                    @Model.XaMoi?.TenXaMoi
                    @if (Model.XaMoi?.TinhMoi != null)
                    {
                        <span>, @Model.XaMoi.TinhMoi.TenTinhMoi</span>
                    }
                </td>
            </tr>

            <tr>
                <th>Ngày đăng ký</th>
                <td>
                    @Model.NgayDangKy?.ToString("dd/MM/yyyy")
                </td>
            </tr>

        </table>

    </div>

    <div class="card-footer">

        <a asp-action="Edit"
           asp-route-maXaMoi="@Model.MaXaMoi"
           asp-route-maCCCD="@Model.MaCCCD"
           class="btn btn-warning">
            Sửa
        </a>

        <a asp-action="Index"
           class="btn btn-secondary">
            Quay lại
        </a>

    </div>

</div>